- var navItems = [{"title": "Top","uri": "#Top",},{"title": "About Me","uri": "#About",},{"title": "My Projects","uri": "#Projects"},{"title": "Contact Me","uri": "#Contact",}];

doctype html
html(lang='en')
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Foo Company
    link(rel="stylesheet" href="/styles/style.css")
    link(rel="stylesheet" href="/styles/globe.css")
    link(rel="stylesheet" href="/styles/sparkText.css")
    link(rel="stylesheet" href="/styles/inlineGrid.css")
    link(rel="stylesheet" href="/styles/my-style.css")
  body
    header(class='fixed top-0 left-0 z-10 flex items-center justify-between w-full px-2 bg-gray-100/10 backdrop-blur-sm')
      a.font-bold(href="/") Iamdayy
      nav
        ul.flex.justify-end
          each item in navItems
            li
              a.block.p-4.font-semibold(href=item.uri)= item.title
    main
      block content
    footer.w-full.bg-slate-900.text-white
      .container.flex.justify-between.items-center.mb-6.px-4
        a.font-bold(href="/") Iamdayy
         nav
          ul.flex.justify-end
            each item in navItems
             li
               a.block.p-4(href=item.uri)= item.title
      small.block.text-center Copyright © 2024 Iamdayy
    script(src='/js/sparkText.js')
    script(src='/js/dragdrop.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js")
