- var id = project._id.toString();
// Modal toggle
button.block.text-white.bg-green-600.font-medium.mx-auto.rounded-lg.text-sm.px-5.text-center.w-3xl(data-modal-target='edit-project-modal' data-modal-toggle='edit-project-modal' class='hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 py-2.5' type='button')
  | Edit
// Main modal
#edit-project-modal.hidden.overflow-y-auto.overflow-x-hidden.fixed.top-0.right-0.left-0.z-50.justify-center.items-center.w-full.max-h-full(tabindex='-1' aria-hidden='true' class='md:inset-0 h-[calc(100%-1rem)]')
  .relative.p-4.w-full.max-w-md.max-h-full
    // Modal content
    .relative.bg-white.rounded-lg.shadow
      // Modal header
      .flex.items-center.justify-between.p-4.border-b.rounded-t(class='md:p-5')
        h3.text-xl.font-semibold.text-gray-900
          | Edit Project
        button.text-gray-400.bg-transparent.rounded-lg.text-sm.w-8.h-8.ms-auto.inline-flex.justify-center.items-center(type='button' class='end-2.5 hover:bg-gray-200 hover:text-gray-900 ' data-modal-hide='edit-project-modal')
          svg.w-3.h-3(aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 14 14')
            path(stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6')
          span.sr-only Close modal
      // Modal body
      .p-4(class='md:p-5')
        form.space-y-4.text-start(action='/project/' + id + '?_method=PUT' method='post' enctype='multipart/form-data')
          div.flex.gap-2
            div(class='w-1/2')
              label.block.mb-2.text-sm.font-medium.text-gray-900(for='title') Project Name
              input#title.bg-gray-50.border.border-gray-300.text-gray-900.text-sm.rounded-lg.block.w-full(type='title' name='title' class='focus:ring-blue-500 focus:border-blue-500 p-2.5' placeholder='name@company.com' required='' value=project.title)
            div(class='w-1/2')
              label.block.mb-2.text-sm.font-medium.text-gray-900(for='uri') Project Uri
              input#uri.bg-gray-50.border.border-gray-300.text-gray-900.text-sm.rounded-lg.block.w-full(type='url' name='uri' placeholder='https://example.com' class='focus:ring-blue-500 focus:border-blue-500 p-2.5' required='' value=project.uri)
          .flex.items-center.justify-center.w-full.drop-zone__input
            label.flex.flex-col.items-center.justify-center.w-full.h-64.border-2.border-gray-300.border-dashed.rounded-lg.cursor-pointer.bg-gray-50.drop-zone(for='dropzone-file' class='hover:bg-gray-100 hover:border-solid')
              .flex.flex-col.items-center.justify-center.pt-5.pb-6
                svg.w-8.h-8.mb-4.text-gray-500(aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 20 16')
                  path(stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2')
                p.mb-2.text-sm.text-gray-500
                  span.font-semibold Click to upload
                  |  or drag and drop
                p.text-xs.text-gray-500 SVG, PNG, JPG or GIF (MAX. 800x400px)
              input#dropzone-file.hidden(type='file' name='img' value=project.img)
          div
            label.block.mb-2.text-sm.font-medium.text-gray-900(for='description') Project Description
            textarea#description.bg-gray-50.border.border-gray-300.text-gray-900.text-sm.rounded-lg.block.w-full(name='description' placeholder='Type description here' class='focus:ring-blue-500 focus:border-blue-500 p-2.5' required='')= value=project.description
          button.w-full.text-white.bg-blue-700.font-medium.rounded-lg.text-sm.px-5.text-center(type='submit' class='hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 py-2.5') update
